{% extends 'base.html' %}

{% macro tab_classes(ids) %}tab{% if PAGE in ids %} active{% endif %}{% endmacro %}

{% macro for_privileged() %}{% if not user.is_superuser %} hidden{% endif %}{% endmacro %}

{%- block content -%}
<header>
    <nav>
        <div>{{ SERVICE_NAME }}</div>
    </nav>
    <nav class="tabs">
        <ul>
            <a href="/profile">
                <li class="{{ tab_classes(['profile']) }}">
                    Profile
                </li>
            </a>
            <a href="/urls">
                <li class="{{ tab_classes(['urls', 'url-edit', 'url-new']) }}">
                    URLs
                </li>
            </a>
            <a href="/users">
                <li class="{{ tab_classes(['users', 'user-edit', 'user-new']) }}{{ for_privileged() }}">
                    Users
                </li>
            </a>
        </ul>
    </nav>
</header>
<main class="page">
    {%- block page_content required -%}{%- endblock -%}
</main>
<footer>
    <!--nothing's here for now-->
</footer>
{%- endblock -%}
