{% extends 'user/base.html' %}

{% set PAGE = 'profile' %}

{% block title %}Profile / {{ super() }}{% endblock %}

{%- block head -%}
<style>
    #msg {
        display: none;
        border: 3px solid;
        border-radius: 10px;
        padding: 5px;
        margin-left: 0.5rem;
    }
    #msg::before {
        margin-right: 0.25rem;
    }

    table {
        border: 1px solid var(--fgColor);
        padding: 15px;
    }
</style>
<script lang="javascript">
    const CLS_MSG_OK    = 'msg-ok';
    const CLS_MSG_ERROR = 'msg-err';

    const ID_FORM    = 'main-form';
    const ID_MESSAGE = 'msg';

    function on_success() {
        // regenerate the page by just reloading it
        window.location.reload();
    };

    function on_error(reason, fieldId) {
        reason = reason ?? 'Something went wrong';

        if (fieldId) {
            const field = document.getElementById(fieldId);
            field.classList.add('error-highlight');
            const oldHandler = field.oninput;
            field.oninput = () => {
                field.classList.remove('error-highlight');
                field.oninput = oldHandler;
            };
        }

        const msgElement = document.getElementById(ID_MESSAGE);
        msgElement.innerText = reason;
        msgElement.classList.add(CLS_MSG_ERROR);
        setTimeout(() => {
            msgElement.classList.remove(CLS_MSG_ERROR);
        }, 2500);
    };

    const updateProfile = debounce(() => {
        const form = new FormData(document.getElementById(ID_FORM));
        let patch = {};

        let apply = (fieldName) => {
            if (value = form.get(fieldName))
                patch[fieldName] = value;
        };

        apply('name');
        apply('email');
        apply('password');

        // make the request only if there is something to upload, otherwise do nothing
        if (Object.keys(patch).length !== 0) {
            // clear last message
            document.getElementById(ID_MESSAGE).classList.remove(CLS_MSG_OK, CLS_MSG_ERROR);

            fetch(
                `/api/v1/user/{{ user.id }}?v={{ user.version }}`, {
                    method: 'PATCH',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(patch),
                    redirect: 'error',
                    credentials: 'same-origin',
                    signal: AbortSignal.timeout(5 * 1000),  // TODO: abort on page unload
                }
            ).then(async (res) => {
                if (res.ok) {
                    on_success();
                } else {
                    try {
                        const errElement = extractInvalidFieldName(await res.json());
                        on_error('Unacceptable input', errElement);
                    } catch {
                        on_error();
                    }
                }
            }).catch(async (e) => on_error());
        }
    }, 500);

    function formHandler(e) {
        e.preventDefault();
        updateProfile();
        return false;
    }
</script>
{%- endblock -%}

{%- block page_content -%}
<div>
    <h3>Profile</h3>
</div>
<div>
    <p>Greetings, {{ user.name | e }}.</p>
    <form id="main-form" onsubmit="return formHandler(event);" autocomplete="off">
        <table>
            <tr>
                <td><label for="name">New name:</label></td>
                <td><input type="text" name="name" id="name" placeholder="🤵 Your new name" autocomplete="new-name" spellcheck="true" /></td>
            </tr>
            <tr>
                <td><label for="email">New E-mail:</label></td>
                <td><input type="email" name="email" id="email" placeholder="💌 Your new email" autocomplete="new-email" spellcheck="true" /></td>
            </tr>
            <tr>
                <td><label for="password">New password:</label></td>
                <td><input type="password" name="password" id="password" placeholder="🔑 Your new password" autocomplete="new-password" /></td>
            </tr>
            <tr>
                <td colspan="2" style="height: 15px;"><!--[empty space]--></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit" style="width: 100%;">Update</button>
                    <br>
                    <span id="msg"></span>
                </td>
            </tr>
        </table>
    </form>
</div>
<p>
    <small>
        <i>Last updated: <script lang="javascript"> localize_time('{{- user.updated_at -}}'); </script></i>
    </small>
</p>
<form method="post" action="/api/v1/auth/logout">
    <button type="submit" class="danger">Log-out</button>
</form>
{%- endblock -%}
