{% extends 'user/base.html' %}

{% set PAGE = 'url-edit' %}

{% block title %}Edit URL / {{ super() }}{% endblock %}

{%- block head -%}
<style>
    #msg {
        display: none;
        border: 3px solid;
        border-radius: 10px;
        padding: 5px;
        margin-left: 0.5rem;
    }
    #msg::before {
        margin-right: 0.25rem;
    }

    form input:not([type=checkbox]), form textarea {
        width: 100%;
        min-width: 350px;
    }

    form textarea {
        min-height: 140px;
    }
</style>
<script lang="javascript">
    var patch_version = parseInt('{{ url.version }}');

    const CLS_MSG_OK    = 'msg-ok';
    const CLS_MSG_ERROR = 'msg-err';

    const ID_FORM    = 'main-form';
    const ID_MESSAGE = 'msg';

    function on_success() {
        const msgElement = document.getElementById(ID_MESSAGE);
        msgElement.innerText = 'Updated successfully!';
        msgElement.classList.add(CLS_MSG_OK);
        setTimeout(() => { msgElement.classList.remove(CLS_MSG_OK); }, 1500);
    };

    function on_error(reason, fieldId) {
        reason = reason ?? 'Something went wrong';

        if (fieldId) {
            const field = document.getElementById(fieldId);
            field.classList.add('error-highlight');
            const oldHandler = field.oninput;
            field.oninput = () => {
                field.classList.remove('error-highlight');
                field.oninput = oldHandler;
            };
        }

        const msgElement = document.getElementById(ID_MESSAGE);
        msgElement.innerText = reason;
        msgElement.classList.add(CLS_MSG_ERROR);
        setTimeout(() => {
            msgElement.classList.remove(CLS_MSG_ERROR);
        }, 2500);
    };

    const updateUrl = debounce(() => {
        // prepare the data
        const form = new FormData(document.getElementById(ID_FORM));
        const extract_datetime = (str) => str == '' ? null : new Date(str).toISOString();
        let patch = {
            original_url:   form.get('original_url'),
            is_active:      !!form.get('is_active'),
            is_open_access: !!form.get('is_open_access'),
            title:          form.get('title'),
            description:    form.get('description'),
            expires_at:     extract_datetime(form.get('expires_at')),
        };

        // clear last message
        document.getElementById(ID_MESSAGE).classList.remove(CLS_MSG_OK, CLS_MSG_ERROR);

        // poke the API
        fetch(
            `/api/v1/urls/{{ url.id }}?v=${patch_version}`, {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(patch),
                redirect: 'error',
                credentials: 'same-origin',
                signal: AbortSignal.timeout(5 * 1000),  // TODO: abort on page unload
            }
        ).then(async (res) => {
            if (res.ok) {
                patch_version = (await res.json()).version;
                on_success();
            } else {
                try {
                    const errElement = extractInvalidFieldName(await res.json());
                    on_error('Unacceptable input', errElement);
                } catch {
                    on_error();
                }
            }
        }).catch(async (e) => on_error());
    }, 500);

    function formHandler(e) {
        e.preventDefault();
        updateUrl();
        return false;
    }
</script>
{%- endblock -%}

{%- block page_content -%}
<h3>
    /u/{{ url.id }}
</h3>
<form id="main-form" onsubmit="return formHandler(event);" autocomplete="off">
    <table>
        <tr>
            <td>
                <label for="original_url">Original URL:</label>
            </td>
            <td>
                <input name="original_url" id="original_url" type="url" value="{{ url.original_url | e }}" spellcheck="true" required />
            </td>
        </tr>
        <tr>
            <td>
                Status:
            </td>
            <td>
                <span>
                    <input name="is_active" id="is_active" type="checkbox" {% if url.is_active %}checked{% endif %} />
                    <label for="is_active">Active</label>
                </span>
                <br>
                <span>
                    <input name="is_open_access" id="is_open_access" type="checkbox" {% if url.is_open_access %}checked{% endif %} />
                    <label for="is_open_access">Openly accessible</label>
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <label for="title">Title:</label>
            </td>
            <td>
                <input name="title" id="title" type="text" value="{{ url.title | e }}" spellcheck="true" required />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <textarea name="description" id="description" placeholder="Description..." spellcheck="true">
                    {{- url.description | e -}}
                </textarea>
            </td>
        </tr>
        <tr>
            <td>
                <label for="expires_at">Expires at:</label>
            </td>
            <td>
                <noscript>{{ url.expires_at }}</noscript>
                <script lang="javascript">
                    let timestamp = '{{ url.expires_at if url.expires_at }}';
                    let value = timestamp ? to_local_datetime_ISO(timestamp) : '';
                    document.write(`<input name="expires_at" id="expires_at" type="datetime-local" value="${value}" />`);
                </script>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit">Update</button>
                <span id="msg"></span>
            </td>
        </tr>
    </table>
</form>
{%- endblock -%}
