body {
    font: 1.2em Arial, sans-serif;
    background-color: #fff;
    margin: 0;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92vh;
}

.centered-center {
    box-shadow: 0 0 1em 1px #888;
    background-color: #fff;
    padding: 20px;
    width: 250px;
}

header, footer {
    display: block;
    left: 0;
    right: 0;
    position: sticky;
}

header {
    top: 0;
    background-color: #ccc;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: #eee;
}

nav {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

input, button, textarea, select {
    padding: 7px 10px;
    border: 2px solid #888;
    border-radius: 5px;
    box-shadow: inset 0px 1px 2px #0004;
    background: #fff;
}

button {
    cursor: pointer;
    font-weight: 600;
    background: #eee;
    box-shadow: 0px 3px 2px #0003, inset 0px 1px 2px #fffa, inset 0px -1px 2px #0005;
    margin-bottom: 3px;
}

button:active {
    background: #bbb;
    box-shadow: inset 0px 3px 2px #000a;
}

button.danger {
    color: #fff;
    background: #e44;
    border-color: #b33;
}

button.danger:active {
    background: #a00;
}

button.create {
    color: #fff;
    background: #6c6;
    border-color: #3b3;
}

button.create:active {
    background: #0a0;
}

a {
    text-decoration: none;
}

/* handles for tabs/pages */

.tabs {
    justify-content: left;
    margin-left: 1em;
    padding-bottom: 0;
    padding-left: 12%;
}

.tabs ul {
    list-style: none;
    contain: content;
    margin: 0;
    display: flex;
    padding: 0;
    overflow: auto;
}

.tabs li {
    height: 1.5em;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}

.tab {
    padding-top: 0.25em;
}

.tab.active, .tab.active:hover {
    background: #fff;
    display: block;
}

.tab:hover {
    background: #fff8;
}

.page {
    /* inspired by https://stackoverflow.com/a/72465193 */
    background: linear-gradient(#fff,#fff) padding-box, linear-gradient(#0001, #0008, #0001) border-box;
    border: 2px dashed #fff;
    border-top: none;
    border-bottom: none;
    margin: 1em;
    padding: 0 20px;
    left: 10%;
    right: 10%;
    position: absolute;
}

/* labels */

.category-label {
    color: #000;
    border: 2px solid #0008;
    border-radius: 2em;
    background: #0002;
    font-size: 0.8em;
    padding: 0.2em 0.5em;
    margin-right: 5px;
    display: inline-block;
}

.label-open     { background: #08b3; border-color: #08b9; }
.label-private  { background: #b083; border-color: #b089; }
.label-active   { background: #0b03; border-color: #0b09; }
.label-expired  { background: #b803; border-color: #b809; }
.label-disabled { background: #b003; border-color: #b009; }

/* utilities and shortcuts */

.round-corners {
    border-radius: 1.0em;
}

.hidden {
    display: none;
}

.ellipsis-text {
  white-space: nowrap;      /* Keeps the text on a single line */
  overflow: hidden;         /* Hides the text that overflows */
  text-overflow: ellipsis;  /* Adds the "..." at the end */
}

.no-drag {
    user-select: none;
    -webkit-user-drag: none;
}
