:root {
    --bgColor: #fff;
    --bgHighlight: #ccc;
    --bgHover: #ddd;

    --fgColor: #000;
}

@media (prefers-color-scheme:dark) {
    :root {
        --bgColor: #111;
        --bgHighlight: #444;
        --bgHover: #656565;

        --fgColor: #fff;
    }
}

body {
    font: 14pt Arial, sans-serif;
    background-color: var(--bgColor);
    color: var(--fgColor);
    margin: 0;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92vh;
}

.centered-center {
    box-shadow: 0 0 1em 1px #888;
    background-color: var(--fgColor);
    padding: 20px;
    width: 250px;
}

header, footer {
    display: block;
    left: 0;
    right: 0;
    position: sticky;
}

header {
    top: 0;
    background-color: var(--bgHighlight);
}

footer {
    position: absolute;
    bottom: 0;
    background-color: var(--bgHighlight);
}

nav {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

input, button, textarea, select {
    padding: 7px 10px;
    border: 2px solid #888;
    border-radius: 5px;
    box-shadow: inset 0px 1px 2px #0004;
    background: var(--bgColor);
    color: var(--fgColor);
}

*:required:invalid {
    border-color: #f00;
}

button {
    cursor: pointer;
    font-weight: 600;
    color: #000;
    background: #eee;
    box-shadow: 0px 3px 2px #0003, inset 0px 1px 2px #fffa, inset 0px -1px 2px #0005;
    margin-bottom: 3px;
}

button:active {
    background: #bbb;
    box-shadow: inset 0px 3px 2px #000a;
}

button.danger {
    color: #fff;
    background: #e44;
    border-color: #b33;
}

button.danger:active {
    background: #a00;
}

button.create {
    color: #fff;
    background: #6c6;
    border-color: #3b3;
}

button.create:active {
    background: #0a0;
}

a {
    color: var(--fgColor);
}

/* handles for tabs/pages */

.tabs {
    justify-content: left;
    margin-left: 1em;
    padding-bottom: 0;
    padding-left: 12%;
    font-weight: 600;
}

.tabs a {
    text-decoration: none;
}

.tabs ul {
    list-style: none;
    contain: content;
    margin: 0;
    display: flex;
    padding: 0;
    overflow: auto;
}

.tabs li {
    height: 1.5em;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}

.tab {
    padding-top: 0.25em;
}

.tab.active, .tab.active:hover {
    background: var(--bgColor);
    display: block;
}

.tab:hover {
    background: var(--bgHover);
}

option:hover {
    background-color: var(--bgHover);
}

.page {
    /* inspired by https://stackoverflow.com/a/72465193 */
    background: linear-gradient(var(--bgColor), var(--bgColor)) padding-box, linear-gradient(#0001, #0008, #0001) border-box;
    border: 2px dashed var(--bgColor);
    border-top: none;
    border-bottom: none;
    margin: 1em;
    padding: 0 20px;
    left: 10%;
    right: 10%;
    position: absolute;
}

@media (prefers-color-scheme:dark) {
    .page {
        background: linear-gradient(var(--bgColor), var(--bgColor)) padding-box, linear-gradient(#fff1, #fff8, #fff1) border-box;
    }
}

/* labels */

.category-label {
    color: var(--fgColor);
    border: 3px solid #0008;
    border-radius: 2rem;
    background: var(--bgColor);
    font-size: 0.8rem;
    padding: 0.1rem 0.35rem;
    margin-right: 5px;
    display: inline-block;
    font-weight: normal;
}

.label-open     { border-color: #48b; }
.label-private  { border-color: #b48; }
.label-active   { border-color: #4b4; }
.label-expired  { border-color: #b84; }
.label-disabled { border-color: #b44; }

/* utilities and shortcuts */

.round-corners {
    border-radius: 1.0em;
}

.hidden {
    display: none;
}

.ellipsis-text {
  white-space: nowrap;      /* Keeps the text on a single line */
  overflow: hidden;         /* Hides the text that overflows */
  text-overflow: ellipsis;  /* Adds the "..." at the end */
}

.no-drag {
    user-select: none;
    -webkit-user-drag: none;
}
