.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92vh;
}

.centered-center {
    border: 1px solid #000;
    border-radius: 20px;
    padding: 20px;
    width: 250px;
}

header, footer {
    display: block;
    left: 0px;
    right: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header {
    position: absolute;
    top: 0px;
    background-color: #ccc;
}

footer {
    position: relative;
    bottom: 0px;
    background-color: #eee;
}
