{% extends 'user/base.html' %}

{% set PAGE = 'profile' %}

{% block title %}Profile / {{ super() }}{% endblock %}

{%- block page_content -%}
<h4>Greetings, {{- user.name | e -}}.</h4>
<p>User info page.</p>
<form method="POST" action="/api/v1/user" enctype="application/x-www-form-urlencoded" autocomplete="off">
    <input type="hidden" name="id" value="{{- user.id -}}" />
    <input type="hidden" name="is_active" value="{{- user.is_active -}}" />
    <input type="hidden" name="is_superuser" value="{{- user.is_superuser -}}" />
    <div>
        <label for="name">New name:</label>
        <input type="text" name="name" placeholder="Your name" />
    </div>
    <div>
        <label for="email">New E-mail:</label>
        <input type="email" name="email" placeholder="Your email" />
    </div>
    <div>
        <label for="password">New password:</label>
        <input type="password" name="password" placeholder="Your new password" />
    </div>
    <input type="submit" value="Update">
</form>
<p>
    <i>(Last update: {{- user.updated_at -}})</i>
</p>
<form method="post" action="/api/v1/logout">
    <button type="submit">Log-out</button>
</form>
{%- endblock -%}
