{% extends 'user/base.html' %}

{% set PAGE = 'profile' %}

{% block title %}Profile / {{ super() }}{% endblock %}

{%- block head -%}
<script lang="javascript">
    function update_profile(e) {
        e.preventDefault();
        let form = new FormData(e.srcElement);

        //...
        let patch = {};

        let apply = (fieldName) => {
            if (value = form.get(fieldName))
                patch[fieldName] = value;
        };

        apply('name');
        apply('email');
        apply('password');

        Object.keys(patch).length;
        patch.version = parseInt('{{ user.version }}');
        let addr = '/user/{{ user.id }}';
        console.log(form, patch);

        return false;
    }
</script>
{%- endblock -%}

{%- block page_content -%}
<h4>Profile</h4>
<p>Greetings, {{ user.name | e }}.</p>
<form onsubmit="return update_profile(event);" autocomplete="off">
    <div>
        <label for="name">New name:</label>
        <input type="text" name="name" placeholder="Your name" />
    </div>
    <div>
        <label for="email">New E-mail:</label>
        <input type="email" name="email" placeholder="Your email" />
    </div>
    <div>
        <label for="password">New password:</label>
        <input type="password" name="password" placeholder="Your new password" />
    </div>
    <input type="submit" value="Update">
</form>
<p>
    <i>(Last update: {{- user.updated_at -}})</i>
</p>
<form method="post" action="/api/v1/logout">
    <button type="submit">Log-out</button>
</form>
{%- endblock -%}
