{% extends 'user/base.html' %}

{% set PAGE = 'url-edit' %}

{% block title %}Edit URL / {{ super() }}{% endblock %}

{%- block head -%}
<style>
    #msg {
        display: none;
        border: 3px solid;
        border-radius: 10px;
        padding: 5px;
    }

    .msg-ok {
        display: inline-block !important;
        color: #080;
        border-color: #8f8;
        background-color: #cfc;
    }

    .msg-err {
        display: inline-block !important;
        color: #800;
        border-color: #f88;
        background-color: #fcc;
    }

    form input, form textarea {
        width: 100%;
        min-width: 350px;
    }

    form textarea {
        min-height: 140px;
    }
</style>
<script lang="javascript">
    function localize_time(utc) {
        let offset = new Date().getTimezoneOffset() * 1000 * 60;
        let local = Date.parse(utc) - offset;
        let value = new Date(local).toLocaleString();
        document.write(`<time>${value}</time>`);
    }

    function update_url(e) {
        // prepare for the upload
        e.preventDefault();
        let msg = document.getElementById('msg');
        msg.classList.remove('msg-ok', 'msg-err');
        msg.textContent = '';

        let on_err = (reason) => {
            msg.classList.add('msg-err');
            msg.textContent = `Unable to update the entry.`;
            console.error('Entry update error', reason);
        };

        // collect the data
        let form = new FormData(e.srcElement);
        console.log(form);

        fetch(
            '/api/v1/urls', {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    id:           '{{ url.id }}',
                    original_url: form.get('original_url'),
                    is_active:    form.get('is_active') ?? false,
                    title:        form.get('title'),
                    description:  form.get('description'),
                }),
                redirect: 'error',
                credentials: 'same-origin',
                signal: AbortSignal.timeout(5 * 1000),
            }
        )
        .then(async (value) => {
            if (value.ok) {
                msg.classList.add('msg-ok');
                msg.textContent = `Updated successfully!`;
                setTimeout(() => { msg.classList.remove('msg-ok'); }, 1500);
            } else {
                on_err(await value.json());
            }
        })
        .catch(on_err);

        return false;
    }
</script>
{%- endblock -%}

{%- block page_content -%}
<h3>
    /u/{{ url.id }}
</h3>
<form onsubmit="return update_url(event);">
    <table>
        <tr>
            <td>
                Original URL:
            </td>
            <td>
                <input name="original_url" type="url" value="{{ url.original_url | e }}" required />
            </td>
        </tr>
        <tr>
            <td>
                Active:
            </td>
            <td>
                <input name="is_active" type="checkbox" {% if url.is_active %}checked{% endif %} />
            </td>
        </tr>
        <tr>
            <td>
                Title:
            </td>
            <td>
                <input name="title" type="text" value="{{ url.title | e }}" required />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <textarea name="description" placeholder="Description...">
                    {{- url.description | e -}}
                </textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Update" />
            </td>
        </tr>
        <tr>
            <td>
                Last edit:
            </td>
            <td>
                <small>
                    <noscript>{{ url.updated_at }} UTC</noscript>
                    <script lang="javascript"> localize_time("{{ url.updated_at }}"); </script>
                </small>
            </td>
        </tr>
        <tr>
            <td>
                Created at:
            </td>
            <td>
                <small>
                    <noscript>{{ url.created_at }} UTC</noscript>
                    <script lang="javascript"> localize_time("{{ url.created_at }}"); </script>
                </small>
            </td>
        </tr>
    </table>
    <div id="msg"></div>
</form>
{%- endblock -%}
