{% extends 'user/base.html' %}

{% set PAGE = 'urls' %}

{% block title %}Your addresses / {{ super() }}{% endblock %}

{%- block head -%}
<script lang="javascript">
    async function debug_add_url() {
        let something = Math.floor(Math.random() * 1000) % 1000;
        await fetch(
            '/api/v1/urls', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    original_url: `https://google.com/foo?q=${something}`,
                    title: `bar+${something}`,
                    //description: null,
                }),
                redirect: 'error',
                credentials: 'same-origin',
                signal: AbortSignal.timeout(5 * 1000),
            }
        )
        .then(async (value) => {
            window.location.reload();
        })
        .catch((reason) => {
            console.warn('Not OK:', reason);
        });
    }
</script>
{%- endblock -%}

{%- block page_content -%}
<button type="button" onclick="debug_add_url()">[DEBUG] Add a URL</button>
<form method="get" action="/urls" autocomplete="off">
    <input type="search" name="q" placeholder="Let's look for..." value="{{- query | e -}}" />
    <input type="submit" value="Search!" />
</form>
<ul>
    {%- for url in urls -%}
        <li>
            <div>
                <div>
                    <a href="/urls/{{- url.id -}}/overview">
                        u/{{ url.id }}
                        <span>{{ url.title | e }}</span>
                    </a>
                    [<a href="/u/{{- url.id -}}" target="_blank" rel="noreferrer">visit</a>]
                    [<a href="/urls/{{- url.id -}}/edit">edit</a>]
                </div>
                <div class="ellipsis-text">
                    {{- url.description | e -}}
                </div>
            </div>
        </li>
    {%- else -%}
        <p>No addresses found.</p>
    {%- endfor -%}
</ul>
<p>Page: #{{ page + 1 }} @ {{ page_size }} links per page.</p>
{%- endblock -%}
