{% extends 'user/base.html' %}

{% set PAGE = 'url-edit' %}

{% block title %}URL Overview / {{ super() }}{% endblock %}

{%- block head -%}
<style>
    td {
        vertical-align: top;
    }

    .dot {
        width: 0.85em;
        height: 0.85em;
        border: 1.5px solid #ccc;
        border-radius: 33%;
        background: #fff;
    }

    .dot.LF, .dot.LX {
        /* future and non-existing previous days */
        visibility: hidden;
    }

    .dot.L1 { background: hsl(120, 99%, 90%); }
    .dot.L2 { background: hsl(115, 80%, 80%); }
    .dot.L3 { background: hsl(110, 60%, 70%); }
    .dot.L4 { background: hsl(105, 40%, 50%); }

    .day-weekend {
        color: #f00;
    }

    .weekday-column {
        min-width: 7vw;
    }

    .weekday-bar {
        background: hsl(120, 75%, 75%);
        border: 1px solid hsl(120, 50%, 45%);
        height: 0.8em;
    }

    .stats {
        border: 1px solid #000;
        padding: 5px;
    }
</style>
<script lang="javascript">
    let index2name = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
    let isWeekend = (i) => i === 0 || i === 6 || i === 'sun' || i === 'sat';

    const WEEKS        = 2 * 4;  // last two months
    const DAYS_IN_WEEK = 7;

    document.addEventListener('DOMContentLoaded', async () => {
        let data;
        try {
            let res = await fetch(
                '/api/v1/urls/{{ url.id }}/stats', {
                    method: 'GET',
                }
            );
            data = await res.json();
        } catch {
            console.error('Something went wrong');
            return;
        }

        let code = '';

        // stats on each date
        let dates = data['dates'];
        for (let i = DAYS_IN_WEEK - new Date().getUTCDay() - 1; i > 0; i--) {
            dates = [{'count': 0, 'future': 1}, ...dates];
        }
        let getStats = (week, day) => dates[WEEKS * DAYS_IN_WEEK - (week * DAYS_IN_WEEK + day) - 1];

        // preprocess
        let maxCount = 1;
        for (let entry of dates) {
            maxCount = Math.max(maxCount, entry['count']);
        }
        let weekdays = [0, 0, 0, 0, 0, 0, 0];
        for (let day = 0; day < DAYS_IN_WEEK; day++) {
            for (let week = 0; week < WEEKS; week++) {
                let stats = getStats(week, day);
                if (stats)
                    weekdays[day] += stats.count;
            }
        }
        let weekdayMax = Math.max(1, ...weekdays);

        // assemble the grid
        for (let day = 0; day < DAYS_IN_WEEK; day++) {
            code += '<tr>';

            code += `<td class="weekday-label ${isWeekend(day) ? 'day-weekend' : 'day-work'}">${index2name[day]}</td>`;

            for (let week = 0; week < WEEKS; week++) {
                code += '<td>';

                let stats = getStats(week, day);
                if (stats) {
                    if (stats.future) {
                        code += '<div class="dot LF"></div>';
                    } else {
                        let lvl = Math.round(4.0 * stats.count / maxCount);
                        if (stats.count > 0 && lvl === 0) lvl = 1;  // guarantee highlighting visited days

                        let date = new Date(`${stats.date} UTC`).toLocaleDateString();
                        let caption = `${stats.count} click(s) on ${date}`;

                        code += `<div class="dot L${lvl}" title="${caption}"></div>`;
                    }
                } else {
                    code += '<div class="dot LX"></div>';
                }

                code += '</td>';
            }

            let percent = 100.0 * weekdays[day] / weekdayMax;
            code += `<td class="weekday-column"><div class="weekday-bar" style="width: ${percent}%;"></div></td>`;

            code += '</tr>';
        }

        // finalize and render
        document.getElementById('stats-container').innerHTML = `<table class="stats">${code}</table>`;
    });
</script>
{% endblock %}

{%- block page_content -%}
<div>
    <h3>
        Overview:
        <a href="/urls/{{- url.id -}}/edit"><input type="button" value="Edit"></a>
        <a href="/u/{{- url.id -}}" target="_blank" rel="noreferrer"><input type="button" value="Visit"></a>
    </h3>
</div>
<div>
    <table>
        <tr>
            <td>ID:</td>
            <td>{{ url.id }}</td>
        </tr>
        <tr>
            <td>Title:</td>
            <td>{{ url.title | e }}</td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><small>{{ url.description | e }}</small></td>
        </tr>
    </table>
</div>
<h3>
    Statistics:
</h3>
<div id="stats-container">
</div>
{%- endblock -%}
