{% extends 'user/base.html' %}

{% set PAGE = 'url-edit' %}

{% block title %}Edit URL / {{ super() }}{% endblock %}

{%- block head -%}
<style>
    #msg {
        display: none;
        border: 3px solid;
        border-radius: 10px;
        padding: 5px;
    }

    .msg-ok {
        display: inline-block !important;
        color: #080;
        border-color: #8f8;
        background-color: #cfc;
    }

    .msg-err {
        display: inline-block !important;
        color: #800;
        border-color: #f88;
        background-color: #fcc;
    }

    form input, form textarea {
        width: 100%;
        min-width: 350px;
    }

    form textarea {
        min-height: 140px;
    }
</style>
<script lang="javascript">
    let offset = new Date().getTimezoneOffset() * 1000 * 60;

    function to_local_datetime(utc) {
        return new Date(utc + 'Z');
    }

    function localize_time(utc) {
        let value = to_local_datetime(utc).toLocaleString();
        document.write(`<time>${value}</time>`);
    }

    var patch_version = parseInt('{{ url.version }}');

    function update_url(e) {
        // prepare for the upload
        e.preventDefault();
        let msg = document.getElementById('msg');
        msg.classList.remove('msg-ok', 'msg-err');
        msg.textContent = '';

        let on_err = (reason) => {
            msg.classList.add('msg-err');
            msg.textContent = `Unable to update the entry.`;
            console.error('Entry update error', reason);
        };

        let extract_datetime = (str) => {
            if (str == '') return null;
            let date = new Date(str);
            return date.toISOString();
        };

        // collect the data
        let form = new FormData(e.srcElement);
        console.log(form);
        let patch = {
            original_url: form.get('original_url'),
            is_active:    form.get('is_active') ?? false,
            title:        form.get('title'),
            description:  form.get('description'),
            expires_at:   extract_datetime(form.get('expires_at')),
        };
        console.log(patch);

        fetch(
            `/api/v1/urls/{{ url.id }}?v=${patch_version}`, {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(patch),
                redirect: 'error',
                credentials: 'same-origin',
                signal: AbortSignal.timeout(5 * 1000),
            }
        )
        .then(async (value) => {
            if (value.ok) {
                data = await value.json();
                patch_version = data['version'];

                msg.classList.add('msg-ok');
                msg.textContent = `Updated successfully!`;
                setTimeout(() => { msg.classList.remove('msg-ok'); }, 1500);
            } else {
                on_err(await value.json());
            }
        })
        .catch(on_err);

        return false;
    }

    function delete_url() {
        if (!confirm('Do you really want to delete this URL?'))
            return;

        let on_err = (reason) => {
            console.error('URL removal failure', reason);
            alert('Unable to delete the URL.\nCheck browser console for more details.');
        };

        fetch(
            '/api/v1/urls/{{ url.id }}', {
                method: 'DELETE',
                redirect: 'error',
                credentials: 'same-origin',
                signal: AbortSignal.timeout(5 * 1000),
            }
        )
        .then(async (value) => {
            if (value.ok) {
                window.location.pathname = '/urls';
            } else {
                on_err(await value.json());
            }
        })
        .catch(on_err);
    }
</script>
{%- endblock -%}

{%- block page_content -%}
<h3>
    /u/{{ url.id }}
</h3>
<form onsubmit="return update_url(event);">
    <table>
        <tr>
            <td>
                Original URL:
            </td>
            <td>
                <input name="original_url" type="url" value="{{ url.original_url | e }}" required />
            </td>
        </tr>
        <tr>
            <td>
                Active:
            </td>
            <td>
                <input name="is_active" type="checkbox" {% if url.is_active %}checked{% endif %} />
            </td>
        </tr>
        <tr>
            <td>
                Title:
            </td>
            <td>
                <input name="title" type="text" value="{{ url.title | e }}" required />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <textarea name="description" placeholder="Description...">
                    {{- url.description | e -}}
                </textarea>
            </td>
        </tr>
        <tr>
            <td>
                Expires at:
            </td>
            <td>
                <noscript>{{ url.expires_at }}</noscript>
                <script lang="javascript">
                    let timestamp = '{{ url.expires_at if url.expires_at }}';
                    let value = '';
                    if (timestamp) {
                        // https://stackoverflow.com/a/51643788
                        let t = to_local_datetime(timestamp);
                        let z = t.getTimezoneOffset() * 60 * 1000;
                        let tLocal = new Date(t - z);
                        value = tLocal.toISOString().split('.')[0];
                    }
                    document.write(`<input name="expires_at" type="datetime-local" value="${value}" />`);
                </script>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Update" />
            </td>
        </tr>
        <tr>
            <td>
                Last edit:
            </td>
            <td>
                <small>
                    <noscript>{{ url.updated_at }} UTC</noscript>
                    <script lang="javascript"> localize_time("{{ url.updated_at }}"); </script>
                </small>
            </td>
        </tr>
        <tr>
            <td>
                Created at:
            </td>
            <td>
                <small>
                    <noscript>{{ url.created_at }} UTC</noscript>
                    <script lang="javascript"> localize_time("{{ url.created_at }}"); </script>
                </small>
            </td>
        </tr>
    </table>
    <div id="msg"></div>
</form>
<div>
    <input type="button" value="Delete" onclick="delete_url()" />
</div>
{%- endblock -%}
