{% extends 'user/base.html' %}

{% set PAGE = 'urls' %}

{% block title %}Your addresses / {{ super() }}{% endblock %}

{%- block head -%}
<style>
    .url-container {
        list-style: square;
        padding-left: 1.5em;
    }

    .url-container li::marker {
        color: #f00;
        font-size: 25pt;
    }

    .url-container li[active]::marker {
        color: #0f0;
    }

    .url-item {
        display: block;
        padding-bottom: 0.5em;
    }

    .url-item:hover {
        background-color: #eee;
    }
</style>
<script lang="javascript">
    async function debug_add_url() {
        let something = Math.floor(Math.random() * 1000) % 1000;
        await fetch(
            '/api/v1/urls', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    original_url: `https://google.com/foo?q=${something}`,
                    title: `bar+${something}`,
                    //description: null,
                }),
                redirect: 'error',
                credentials: 'same-origin',
                signal: AbortSignal.timeout(5 * 1000),
            }
        )
        .then(async (value) => {
            window.location.reload();
        })
        .catch((reason) => {
            console.warn('Not OK:', reason);
        });
    }

    function replaceHashtags(text, baseUrl) {
        return text.replace(
            /(?<!\w)(#[\w-]+)/gu,
            (match) => `<a href="${baseUrl}?q=${encodeURIComponent(match)}">${match}</a>`,
        );
    }

    document.addEventListener("DOMContentLoaded", () => {
        for (let description of document.getElementsByClassName('url-item-description')) {
            let source = description.innerHTML;
            if (source.includes('#'))
                description.innerHTML = replaceHashtags(source, window.location.pathname);
        }
    });
</script>
{%- endblock -%}

{%- block page_content -%}
<button type="button" onclick="debug_add_url()">[DEBUG] Add a URL</button>
<form method="get" action="/urls" autocomplete="off">
    <input type="search" name="q" placeholder="Let's look for..." value="{{- query | e -}}" />
    <input type="submit" value="Search!" />
</form>
<ul class="url-container">
    {%- for url in urls -%}
        <li {% if url.is_active %}active{% endif %}>
            <div class="url-item">
                <div>
                    <a href="/urls/{{- url.id -}}/overview">[u/{{ url.id }}] <span>{{ url.title | e }}</span></a>
                    [<a href="/urls/{{- url.id -}}/edit">edit</a>]
                    [<a href="/u/{{- url.id -}}" target="_blank" rel="noreferrer">visit</a>]
                </div>
                <div class="ellipsis-text">
                    <small class="url-item-description">
                    {%- if url.description -%}
                        {{- url.description | e -}}
                    {%- else -%}
                        <i>No description.</i>
                    {%- endif -%}
                    </small>
                </div>
            </div>
        </li>
    {%- else -%}
        <p>No addresses found.</p>
    {%- endfor -%}
</ul>
<p>Page: #{{ page + 1 }} @ {{ page_size }} links per page.</p>
{%- endblock -%}
