{% extends 'user/base.html' %}

{% set PAGE = 'urls' %}

{% block title %}Links / {{ super() }}{% endblock %}

{%- block head -%}
<style>
    .url-container {
        list-style: none;
        padding-left: 0px;
        border-top: 2px double #0004;
        padding-top: 0.5em;
        border-bottom: 2px solid #0004;
        padding-bottom: 0.5em;
    }

    .url-item {
        display: block;
        padding: 0.5em 0.25em;
    }

    .url-item .title a {
        text-decoration: none;
        font-weight: 600;
    }

    .url-item:hover {
        background-color: var(--bgHover);
    }

    a.ellipsis-text {
        display: inline-block;
        max-width: 50%;
    }

    .pagination-panel {
        text-align: center;
    }

    .page-number {
        border: 3px solid #0004;
        border-radius: 20%;
        padding: 5px 10px;
    }
</style>
<script lang="javascript">
    function replaceHashtags(text, baseUrl) {
        return text.replace(
            /(?<!\w)(#[\w-]+)/gu,
            (match) => `<a href="${baseUrl}?q=${encodeURIComponent(match)}">${match}</a>`,
        );
    }

    document.addEventListener('DOMContentLoaded', () => {
        for (let description of document.getElementsByClassName('url-item-description')) {
            let source = description.innerHTML;
            if (source.includes('#'))
                description.innerHTML = replaceHashtags(source, window.location.pathname);
        }
    });
</script>
{%- endblock -%}

{%- block page_content -%}
<div>
    <h3>
        All links
        <a href="/urls/new" style="position: absolute;right: 25px;"><button class="create">Add new URL</button></a>
    </h3>
</div>
<div>
    <form method="get" action="/urls" autocomplete="off">
        <input type="search" name="q" placeholder="🔎 Let's look for..." value="{{- query | e -}}" />
        <select name="sort">
            {%- macro sort_sel(id, title) -%}
            <option value="{{ id }}"{{ ' selected' if id == sort else '' }}>{{ title }}</option>
            {%- endmacro %}
            {#- How can we use this with URL_SORTING_CRITERIA ? -#}
            {{ sort_sel('id',      'URL ID')           }}
            {{ sort_sel('title',   'Title')            }}
            {{ sort_sel('updated', 'Last update')   }}
            {{ sort_sel('expires', 'Expiration time')  }}
            {{ sort_sel('created', 'Creation time')    }}
        </select>
        <select name="asc">
            <option value="on"  {{ 'selected' if sort_asc == True  else '' }}>Order: ascending</option>
            <option value="off" {{ 'selected' if sort_asc == False else '' }}>Order: descending</option>
        </select>
        <button type="submit">Show!</button>
    </form>
</div>
<ul class="url-container">
    {%- for url in urls -%}
        <li class="url-item">
            <div class="ellipsis-text title">
                {%- macro label(type, text) -%}
                    <a href="/urls?tag={{ type }}"><span class="category-label label-{{ type }}">{{ text }}</span></a>
                {%- endmacro -%}
                {%- if url.is_open_access -%}
                    {{ label('open', 'open') }}
                {%- else -%}
                    {{ label('private', 'private') }}
                {%- endif -%}
                {%- if url.is_active -%}
                    {%- if url.expires_at and url.expires_at <= now_UTC -%}
                        {{ label('expired', 'expired') }}
                    {%- else -%}
                        {{ label('active', 'active') }}
                    {%- endif -%}
                {%- else -%}
                        {{ label('disabled', 'disabled') }}
                {%- endif -%}
                <a href="/urls/{{- url.id -}}/overview">[<code>u/{{ url.id }}</code>] <span>{{ url.title | e }}</span></a>
            </div>
            <div class="ellipsis-text">
                <small class="url-item-description">
                {%- if url.description -%}
                    {{- url.description | e -}}
                {%- else -%}
                    <i>No description.</i>
                {%- endif -%}
                </small>
            </div>
        </li>
    {%- else -%}
        <p>No results<br><small>Try adjusting your search filters.</small></p>
    {%- endfor -%}
</ul>
{% set search_suffix %}
    {{- ('&sort=' + sort)   if sort     -}}
    {{- '&asc=on'           if sort_asc -}}
    {{- '&q=' + (query | e) if query    -}}
{% endset %}
<div class="pagination-panel">
    <span class="page-direction">
        <a class="{{ 'hidden' if page == 1 else '' }}" rel="prev" href="/urls?p={{ page - 1 }}{{ search_suffix }}">&lt; Previous</a>
    </span>
    <span class="page-number">{{- page -}}</span>
    <span class="page-direction">
        <a class="{{ 'hidden' if (urls | length) < page_size else '' }}" rel="next" href="/urls?p={{ page + 1 }}{{ search_suffix }}">Next &gt;</a>
    </span>
</div>
{%- endblock -%}
