{% extends 'user/base.html' %}

{% set PAGE = 'users' %}

{% block title %}Users / {{ super() }}{% endblock %}

{% block head %}
<style>
    .user-list {
        column-count: 1;
        gap: 2.5rem;
        padding-left: 30px;
    }

    .user-list li::marker {
        content: '🤵 ';
    }

    @media (min-width: calc((30px + 250px) * 2)) { .user-list { column-count: 2; } }
    @media (min-width: calc((30px + 250px) * 3)) { .user-list { column-count: 3; } }
    @media (min-width: calc((30px + 250px) * 4)) { .user-list { column-count: 4; } }
    @media (min-width: calc((30px + 250px) * 5)) { .user-list { column-count: 5; } }

    .user-list li {
        padding-bottom: 0.7rem;
    }
</style>
{% endblock %}

{%- block page_content -%}
<div>
    <h3>All users</h3>
</div>
<div>
    <ul class="user-list">
        {%- for user in users -%}
        <li>
            <div class="ellipsis-text">
                <a href="/user/{{- user.id -}}/profile">{{- user.name | e -}}</a>
            </div>
        </li>
        {%- endfor -%}
    </ul>
</div>
{% set search_suffix %}
    {{- '' -}}
{% endset %}
<div class="pagination-panel">
    <span class="pagination-group">
        <span class="page-direction">
            <a class="{{ 'hidden' if page == 1 else '' }}" rel="prev" href="/users?p={{ page - 1 }}{{ search_suffix }}">&lt; Prev</a>
        </span>
        <span class="page-number">{{- page -}}</span>
        <span class="page-direction">
            <a class="{{ 'hidden' if (users | length) < page_size else '' }}" rel="next" href="/users?p={{ page + 1 }}{{ search_suffix }}">Next &gt;</a>
        </span>
    </span>
</div>
{%- endblock -%}
